
h1 { 
    text-align: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #353b48, #82ccdd, 0);
    font-family: Arial, sans-serif;

}


.imput-group {
    width: 80%;
    margin-bottom: 10px;
    text-align: left;

}

.btn-primary {
    color: white;
    background: linear-gradient(to bottom, #343a40, #6c757d);iceblue;
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6em;
    cursor: pointer;
    padding: 1em 1em;
    font-size: 15px;
    font-weight: 250;

}

body{ 
    background-image: url('arbolitos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}